*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Generalsans, sans-serif;
}
:root{
    --primary_color : #000000;
    --secondary_color: #ffffff;
    --primary_font_family: 'Bitter', serif;
}
 body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox  */
}
body{
    background-color: var(--primary_color);
}
header{
    width: 100vw;
    /* width: 100%; */
    height: 50px;
    /* border: 1px solid red; */
    margin-top: 15px;
    position: fixed;
    z-index: 2;
}
header nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav div:first-child{
    height: 35px;
    width: 35px;
}
header nav div:first-child img{
    height: 100%;
    width: 100%;
}
header nav div:last-child ul{
    display: flex;
    padding: 10px;
    align-items: center;
}
header nav div:last-child ul li{
    padding: 10px;
    list-style: none;
    /* border: 1px solid green; */
}
header nav div:last-child ul li a{
    text-decoration: none;
    color: var(--secondary_color);
    font-size: 13px;
}
header nav div:last-child ul li a button{
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 8px;
    font-weight: 600;
    color: var(--secondary_color);
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 15%, rgba(122,19,255,1) 54%, rgba(218,77,143,1) 87%);
}
main{
    width: 100%;
    height: fit-content;
}
main .first_section{
    height: 700px;
    width: 100%;
    background-image: url("images/starfield.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}
main .first_section .first_section_ka_image_div{
    height: 600px;
    width: 600px;
    box-shadow: -6px -9px 172px 34px rgb(49 1 52);
    border-radius: 50%;
   background: rgb(49,1,52);
    background: linear-gradient(180deg, rgba(49,1,52,1) 32%, rgba(9,5,15,1) 62%);
    opacity: 0.8;
    margin-top: 57px;
}
main .first_section .first_section_ka_image_div img{
    width: 100%;
    height: 100%;
}
.rotate {
    animation: rotation 50s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
main .first_section .first_section_ka_upper_div{
    text-align: center;
    width: 800px;
    /* border: 1px solid green; */
    position: absolute;
    top: 150px;
    color: var(--secondary_color);
}
main .first_section .first_section_ka_upper_div h5{
    font-size: 12px;
}
main .first_section .first_section_ka_upper_div h1{
    font-family: var(--primary_font_family);
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 40px;
}
main .first_section .first_section_ka_upper_div div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
main .first_section .first_section_ka_upper_div button{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 15%, rgba(122,19,255,1) 54%, rgba(218,77,143,1) 87%);
    padding: 15px;
    border-radius: 30px;
    color: var(--secondary_color);
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
}
main .first_section .first_section_ka_upper_div p{
    font-size: 13px;
}
main .first_section .first_section-ka_opacity_div{
    position: absolute;
    width: 100%;
    height: 250px;
    /* border: 1px solid green; */
    top: 400px;
    background-color: #0000008a;
    box-shadow: -6px -9px 283px -3px #000000;
}
main .second_section{
    position: relative;
    width: 100%;
    height: fit-content;
    background-image: url('images/Grid.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
main .second_section .second_section_ka_upper_opacity_div{
    height: 150px;
    /* border: 1px solid green; */
    background-color: #000000;
    box-shadow: 14px 13px 79px 25px #000000;
    border-radius: 0px 0px 150px 150px;
}
main .second_section .second_section_ka_middel_div{
    /* border: 1px solid green; */
    position: absolute;
    top: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 26px;
}
main .second_section .second_section_ka_middel_div .second_section_ka_middel_div_ka_img_section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
}
main .second_section .second_section_ka_middel_div .second_section_ka_middel_div_ka_img_section img{
    width: 100px;
    margin: 40px 65px;
    /* border: 1px solid green; */
}
main .second_section .second_section_ka_lower_opacity_div{
    margin-top: 450px;
    height: 150px;
    border-radius: 150px 150px 0px 0px;
    /* border: 1px solid green; */
    background-color: #000000;
    box-shadow: 14px 13px 79px 25px #000000;
}
main .second_section p{ 
    color: var(--secondary_color);
    display: flex;
    justify-content: center;
    /* border: 1px solid green; */
}
main .third_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* border: 1px solid green; */
    margin-top: 80px;
    padding-bottom: 200px;
}
main .third_section .third_section_ka_first_div{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .third_section .third_section_ka_first_div p{
    font-size: 14px;
    font-weight: bold;
    margin-top: 150px;
}
main .third_section .third_section_ka_first_div h1{
    /* color: var(--secondary_color);
    font-family: var(--primary_font_family);
    font-weight: 300;
    font-size: 45px; */
    margin-top: 20px;
}
main .third_section .third_section_ka_second_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
    margin-top: 150px;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_img div{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 10px;
    position: relative;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_img div img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: gray;
    filter: grayscale(100%);
    transition: all 0.5s;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_img div h4{
    font-size: 12px;
    position: absolute;
    top: 80px;
    color: var(--secondary_color);
    text-align: center;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_img div:hover h4{
    opacity: 1;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_img div h6{
    position: absolute;
    top: 100px;
    text-align: center;
    left: 35px;
    color: var(--secondary_color);
    opacity: 0;
    transition: all 0.5s;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_img div:hover h6{
   opacity: 1;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_img div img:hover{
    opacity: 0.4;
    cursor: pointer;
}
main .third_section .third_section_ka_second_div .third_section_ka_second_div_ka_p{
    margin-top: 50px;
    text-align: center;
}
main .forth_section{
    /* width:100vw; */
    width:100%;
    background-image: url(images/Vector-6.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-bottom: 200px;
}
main .forth_section .forth_section_first_div h5{
    text-align: center;
    margin-bottom: 50px;
}
main .forth_section .forth_section_second_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}
main .forth_section .forth_section_second_div div{
    width: 300px;
    height: 300px;
    /* border: 1px solid red; */
    margin: 10px;
    border-radius: 25px;
    color: var(--secondary_color);
    position: relative;
}
main .forth_section .forth_section_second_div div h5{
    position: absolute;
    left: 20px;
    top: 160px;
}
main .forth_section .forth_section_second_div div p{
    position: absolute;
    left: 20px;
    top: 180px;
    font-size: 12px;
    line-height: 20px;
    color: #8f9292;
}
main .forth_section .forth_section_second_div .forth_section_second_div_ka_first_div{
    background-color: #161616;
    background-image: url('images/Mask-group-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
main .forth_section .forth_section_second_div .forth_section_second_div_ka_second_div{
    background-color: #161616;
    background-image: url('images/Mask-group-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
main .forth_section .forth_section_second_div .forth_section_second_div_ka_third_div{
    background-color: #161616;
    background-image: url('images/Mask-group-4.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
main .fifth_section{
    /* width: 100vw; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -6px -9px 172px 34px rgb(0, 0, 0);
    padding-bottom: 150px;
}
main .fifth_section .fifth_section_first_div h5, main .sixth_section .sixth_section_first_div h5, main .seventh_section .seventh_section_first_div .sixth_section_first_div_ka_content_div h5, main .eight_section .eight_section_first_div h5, main .nine_section .nine_section_ka_first_div h5{
    text-align: center;
}
main .fifth_section .fifth_section_first_div h1{
    margin-top: 20px;
    font-size: 50px;
}
main .fifth_section .fifth_section_second_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
main .fifth_section .fifth_section_second_div div{
    height: 467px;
    width: 283px;
    /* border: 1px solid rgb(1, 255, 18); */
    margin: 10px;
    border-radius: 35px;
}
main .fifth_section .fifth_section_second_div div video{
    width: 100%;
    height: 100%;
    border-radius:35px;
}
main .sixth_section .sixth_section_second_div{
    color: var(--secondary_color);
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}
main .sixth_section .sixth_section_second_div .sixth_section_second_div_ka_first_content div, main .sixth_section .sixth_section_second_div .sixth_section_second_div_ka_second_content div{
    width: 344px;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    background-color: #232C31;
    border-radius: 25px;
}
main .sixth_section .sixth_section_second_div div p{
    font-size: 14px;
}
main .seventh_section{
    display: flex;
    justify-content: center;
    height: fit-content;
    padding-bottom: 150px;
}
main .seventh_section .seventh_section_first_div .sixth_section_first_div_ka_content_div{
    width: 458px;
}
main .seventh_section .seventh_section_first_div .sixth_section_first_div_ka_content_div p{
    color: var(--secondary_color);
    padding: 15px;
}
main .seventh_section .seventh_section_second_div{
    height: 500px;
    width: 366px;
}
main .seventh_section .seventh_section_second_div .sixth_section_first_div_ka_video_div{
    height: 100%;
    width: 100%;
}
main .seventh_section .seventh_section_second_div .sixth_section_first_div_ka_video_div video{
    height: 100%;
    width: 100%;
}
main .eight_section{
    background-image: url(images/starfield.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
main .eight_section .eight_section_first_div div{
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
main .eight_section .eight_section_first_div h1{
    width: 850px;
}
main .eight_section .eight_section_second_div{
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .eight_section .eight_section_second_div .eight_section_second_div_ka_backdiv{
    width: 170px;
    height: 170px;
    /* border: 1px solid green; */
    border-radius: 50%;
    position: absolute;
    top:145px;
    box-shadow: -7px -9px 278px 255px #21031c;
}
main .eight_section .eight_section_second_div img{
    position: absolute;
}
main .nine_section{
    padding-top: 150px;
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
}
main .nine_section .nine_section_ka_first_div h1{
    margin-top: 20px;
}
main .nine_section .nine_section_ka_second_div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
main .nine_section .nine_section_ka_second_div .nine_section_ka_second_div_ka_content_div{
    width: 283px;
    height: 186px;
    margin: 10px;
    position: relative;
    color: var(--secondary_color);
    border-radius: 40px;
    padding: 40px 20px;
    background: rgb(16,16,16);
    background: linear-gradient(153deg, rgba(16,16,16,1) 29%, rgba(10,10,10,1) 63%);
}
main .nine_section .nine_section_ka_second_div .nine_section_ka_second_div_ka_content_div div{
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16,16,16);
    border-radius:50% ;
    border: 2px solid #000000;
}
main .nine_section .nine_section_ka_second_div .nine_section_ka_second_div_ka_content_div p{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #8f9292;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}
main .ten_section{
    width: 100%;
    height: fit-content;
    padding-bottom: 150px;
    background-image: url(images/Group-120.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid green; */
}
main .ten_section .ten_section_first_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}
main .ten_section .ten_section_first_div img:nth-of-type(1){
    width: 50px;
    margin-top:100px;
    /* height: 150px; */
}
main .ten_section .ten_section_first_div img:nth-of-type(2){
    width: 900px;
}
main .ten_section .ten_section_second_div{
    position: absolute;
    top: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
main .ten_section .ten_section_second_div h1{
    width: 800px;
    background: #575757;
    background: -webkit-linear-gradient(to bottom, #575757 45%, #FFFFFF 66%);
    background: -moz-linear-gradient(to bottom, #575757 45%, #FFFFFF 66%);
    background: linear-gradient(to bottom, #575757 45%, #FFFFFF 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .ten_section .ten_section_second_div button{
    border-radius: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    font-size: 11px;
    padding: 15px;
    font-weight: 600;
    color: var(--secondary_color);
    border: none;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 15%, rgba(122,19,255,1) 54%, rgba(218,77,143,1) 87%);
    box-shadow: -15px -127px 342px 33px #ffffff;
}
main footer{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid green; */
    background-image: url(images/Group-32.svg);
    background-repeat: no-repeat;
    background-position: center;
}
main footer .footer_first_section{
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
main footer .footer_first_section img{
    width: 100%;
    height: 100%;
}
main footer .footer_second_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    color: var(--secondary_color);
    /* border: 1px solid green; */
    font-size: 12px;
}
main footer .footer_second_section .footer_second_section_contact{
    display: flex;
    margin: 10px;
}
main footer .footer_second_section .footer_second_section_contact .footer_second_section_contactAll{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    background-color: #231D26;
    padding: 8px;
    border-radius: 45px;
    margin-left: 10px;
}
main footer .footer_second_section .footer_second_section_contact .footer_second_section_contactAll div:first-child{
    /* border: 1px solid green; */
    background-color:#2A262D;
    border-radius: 15px;
    width: 35px;
    text-align: center;
    margin-right: 5px;
}
main footer .footer_third_section{
    padding-bottom: 80px;
    padding-top: 20px;
    color: var(--secondary_color);
    font-size: 10px;
    font-weight: bold;
}

/* MEDIA SCREEN */
@media screen and (max-width:1148px) {
    main .second_section .second_section_ka_middel_div .second_section_ka_middel_div_ka_img_section {
        margin-top: 16px;
    }
}
@media screen and (max-width:920px) {
    main .second_section .second_section_ka_middel_div .second_section_ka_middel_div_ka_img_section img{
        margin: 31px 37px;
    }
}
@media screen and (max-width:900px) {
    main .nine_section .nine_section_ka_second_div .nine_section_ka_second_div_ka_content_div{
        margin-top: 50px;
    }
    
}